<!doctype html>
<html>
<head><title>To-Do</title></head>
<body>
  <h2>To-Do Form</h2>
  <form id="todoForm">
    <label>Item Name: <input name="itemName" id="itemName" required></label><br>
    <label>Item Description: <input name="itemDescription" id="itemDescription" required></label><br>
    <label>Item ID: <input name="itemID" id="itemID" value="1"></label><br>
    <label>Item Hash: <input name="itemHash" id="itemHash"></label><br>

    <button type="submit">Submit</button>
  </form>

  <script src="/static/js/todo.js"></script>
</body>
</html>
